@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #E5E5E5;
    height: 100vh;
}

header, footer {
    color: #0A3871;
    text-align: center;
    background-color: #E5E5E5;
}

main {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10%;
}

.input-section, .output-section {
    flex: 1;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.input-section {
    background-color: #E5E5E5;
    border: none;
    margin-right: 1rem;
    box-shadow: none;
    
}

.output-section {
    background-color: #ffffff;
    resize: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    width: 120px;
    height: 48px;
}

textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border-width: 1px;
    border-color: #E5E5E5;
    background-color: #E5E5E5;
}

#input-text {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-style: regular;
}

button {
    display: inline-block;
    margin: 0.5rem 0;
    padding: 1rem;
    width: 40%;
    border-width: 1px;
    border-radius: 5px;
    background-color: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
    display: inline-block;
    cursor: pointer;
}

button:hover {
    background-color: #0A3871;
    color: #D8DFE8;
}

.warning, .exclamacion{
    font-size: 12px;
    color: #495057;
    text-align: left;
    flex-direction: row;
}

#output-text {
    margin: 1rem 0;
    text-align: center;
    color: #777;
}

.imagen-de-espera {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.sin-mensaje {
    font-weight: 1000;
    text-align: center;
}

#output-text {
    margin: 1rem 0;
    text-align: center;
    color: #333;
    display: none;
}

#copy-btn {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .input-section, .output-section {
        margin-bottom: 1rem;
    }

    .waiting-image {
        width: 100%;
    }
}
